<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/header.ejs') %>

  <body>
    <header class="p-3">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img class="bi me-2" width="60" height="40" role="img" aria-label="Bootstrap" src="/image/logo.png" alt="">
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-5">
            <li><a href="#home" class="nav-link fw-bold lg-1 px-2 ">Home</a></li>
            <li><a href="#about" class="nav-link fw-bold lg-1 px-2 ">About</a></li>
            <li><a href="#contact" class="nav-link fw-bold lg-1 px-2 ">Contact</a></li>
          </ul>

          <div class="text-end">
            <a href="/login"><button type="button" class="btn fw-bold btn-primary me-2">Login</button></a>
            <!-- <button type="button" class="btn fw-bold btn-warning">Sign-up</button> -->
          </div>
        </div>
      </div>
    </header>

    <section style="background-color: #E5E7E8;" id="home">
      <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Dhans Natural Drinking Water Store</h2>

      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
          <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis"><span style="color: blue;" id="auto-typed">We sell various types of packaged drinks</span></h2>
            <p class="text-body-secondary">For those of you who are interested in partnering with us to meet your shop's needs, please visit our website for attractive offers, you can also come directly to our shop at the address listed on the contact page</p>
            <a href="#contact" class="btn btn-primary btn-lg">Contact Us</a>
          </div>

          <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <i class="fa fa-gear" style="width: 1em; height: 1em;"></i>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
              </div>

              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <i class="fa fa-gear" style="width: 1em; height: 1em;"></i>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
              </div>

              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <i class="fa fa-gear" style="width: 1em; height: 1em;"></i>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
              </div>

              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <i class="fa fa-gear" style="width: 1em; height: 1em;"></i>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about" style="background-color: cornflowerblue;">
      <div class="container px-4 py-5" id="hanging-icons">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <i class="fa fa-gear" width="1em" height="1em"></i>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">Featured title</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <a href="#" class="btn btn-primary">
                Primary button
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <i class="fa fa-gear" width="1em" height="1em"></i>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">Featured title</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <a href="#" class="btn btn-primary">
                Primary button
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <i class="fa fa-gear" width="1em" height="1em"></i>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">Featured title</h3>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <a href="#" class="btn btn-primary">
                Primary button
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style="background-color: darkblue;" id="contact">
      <div class="container" style="color: aliceblue;">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">About</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-5 offset-md-1 mb-3">
              <h5>You can visit my address</h5>
              <p><i class="fa-solid fa-location-dot"></i> JL Tanjung Pura 4 Pegadungan Kalideres Jakbar</p>
              <p><i class="fa-brands fa-square-whatsapp"></i> 081234567654</p>
              <p><i class="fa-solid fa-envelope"></i> donnyfauzi55@gmail.com</p>
            </div>
            <div class="col-6 col-md-2 mb-3" style="margin-left: 80px;">
              <ul class="list-unstyled flex-column">
                <li class="body-item ms-3 mt-0"><a class="body-link p-0 text-body-light" href="#"><i class="fa-brands fa-instagram"></i> dhony_fz</a></li>
                <li class="body-item ms-3 mt-4"><a class="body-link p-0 text-body-light" href="#"><i class="fa-brands fa-twitter"></i> donny fauzi</a></li>
                <li class="body-item ms-3 mt-4"><a class="body-link p-0 text-body-light" href="#"><i class="fa-brands fa-facebook"></i> Donny_Fauzi</a></li>
              </ul>
            </div>            
          </div>
        </footer>
      </div>
    </section>  
    
    <section class="end" style="color: black;">
      <div class="last-text">
        <p>Copyright © 2024 Donny Fauzi. All Rights Reserved.</p>
      </div>
      <div class="top">
        <a href="#home"><i class="fa-sharp fa-solid fa-arrow-up"></i></a>
      </div>
    </section>
  </body>
</html>
           
              
        
        
      
          

            

          
      
    